<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Synopsis">Synopsis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#rate">Prochain onglet</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content mt-1">
  <div class="tab-pane fade show py-3" id="Synopsis">
    {{artwork.synopsis}}
  </div>
</div>