<div class="card mb-5" style="max-width: 20rem;">
  <div class="card-header bg-info text-center">
    <a style="color:white;" href="{{ path( 'artwork_discussionTheme_show', {'slug': artwork.slug, 'themeSlug': discussionTheme.themeSlug} ) }}">
      <h3>{{discussionTheme.label}}</h3>      
    </a>
  </div>
  <div class="card-body artworkThemeCardBody">
    <h4 class="card-title">{{discussionTheme.catchPhrase}}</h4>
    <p class="card-text">{{discussionTheme.description}}</p>
  </div>
</div>